@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito:wght@400;500;600;700&display=swap");

/* GLOBALES */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  color: #182157;
}


/* ---- SECCIÓN "EL DESPEGUE ES AHORA" (JESÚS) ---- */

.container {
  background: rgb(69, 92, 185);
  background: linear-gradient(
    180deg,
    rgba(69, 92, 185, 1) 0%,
    rgba(57, 183, 180, 1) 70%
  );
  padding: 0;
  width: 100%;
  height: auto;
}

.nav {
  background: rgba(69, 92, 185, 0.6);
  font-family: "Nunito", sans-serif;
  z-index: 100;
  position: absolute;
  height: 65px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_logo {
  display: block;
  margin-left: 25px;
}

.nav_logos {
  display: flex;
  cursor: pointer;
}

.nav_logoweb{
  position: absolute;
  margin-left: 25px;
  overflow: hidden;
  display: none;
  width :148px;
  height :45px;
}

.nav_menu {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
}

.nav_img {
  width: 30;
  margin-right: 25px;
  margin-left: 10px;
}

.nav_link {
  position: fixed;
  padding: 0;
  background-color: #455cb9;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: height 0.4s;
}

.nav_links {
  color: #ffffff;
  text-decoration: none;
}

.nav_items {
  text-align-last: center;
  width: 100%;
  padding: 5px 0;
  font-weight: 500;
  font-size: 25px;
  list-style: none;
}

.color {
  background-color: #182157;
  width: 100%;
}

.nav_link-show {
  opacity: 1;
  pointer-events: unset;
  align-items: center;
}

.nav_logos_menu {
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.nav_close {
  top: 17.28px;
  right: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 25px;
}

.list_show {
  background-color: #182157;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ocultar {
  height: 0;
  overflow: hidden;
}

.contacto {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  display: flex;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  justify-content: space-evenly;
}

.servicios {
  display: block;
}
.nav_links--servicio {
  margin-left: 91px;
}
.servicios_show {
  width: 25px;
  cursor: pointer;
  margin-left: 60px;
}

.main_container {
  display: grid;
  height: auto;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, 1 fr);
}

.main_title {
  grid-column: 1/3;
  grid-row: 1;
}
.parrafo_buscabas {
  grid-row: 2;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  margin-top: 66px;
  margin-left: auto;
}

.img_cohete {
  grid-row: 2;
}

.title {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  font-size: 48px;
  width: 322px;
  height: 116px;
  margin: auto;
  margin-top: 98px;
  top: 98px;
  line-height: 58px;
}

.textoycohete {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}

.buscabas {
  width: 110px;
}
.cohete {
  width: 205px;
  
}

.buttons {
  grid-column: 1/3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.botones {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  border-radius: 9px;
  width: 195px;
  height: 50px;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.seguir{
    background-color: aliceblue;
width: 100%;
}



/* ---- SECCIÓN "PORTAFOLIO" ---- (ELISEO) */

.portafolio {
  position: relative;
  overflow: hidden;
  height: minmax(1356px, max-content);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160.51deg, #455CB9 0%, #39B7B4 97.43%);
}
.portafolio .ellipse {
  position: absolute;
  width: 74.13%;
  top: 137px;
  right: 60.53%;
  z-index: 10;
}
.portafolio .star {
  position: absolute;
  width: 25.33%;
  z-index: 10;
  top: 0.5%;
  right: 0px;
}
.portafolio .star-thin {
  position: absolute;
  width: 13.33%;
  z-index: 10;
  left: 2.4%;
  bottom: 93px;
}
.portafolio .rnd-rectangle {
  position: absolute;
  width: 60.27%;
  z-index: 10;
  bottom: -38px;
  right: 0%;
  transform: rotate(180deg);
}
.portafolio__title {
  margin-top: 8rem;
  color: #FFFFFF;
  z-index: 20;
}
.portafolio__title h4 {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.portafolio__title h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 3.6rem;
  font-style: normal;
  margin-top: 0.3rem;
  line-height: 4.32rem;
  display: block;
  text-align: center;
}
.portafolio__cards {
  position: relative;
  margin: 5.3rem 16px 4.5rem 16px;
  display: grid;
  grid-template-rows: repeat(2, minmax(426px, 1fr));
  grid-gap: 25px;
}
.portafolio__cards .card {
  display: grid;
  grid-template-rows: 1fr 87px;
  grid-template-columns: minmax(286px, 500px);
  z-index: 20;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 9px;
  overflow: hidden;
  border: 1px solid #FFFFFF;
}
.portafolio__cards .card__img {
  width: 100%;
}
.portafolio__cards .card__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12px 0 58px;
}
.portafolio__cards .card__brand .brand__logo {
  width: 64px;
  margin-right: 16px;
}
.portafolio__cards .card__brand .brand__plan {
  width: 14.8rem;
  height: 3.9rem;
}
.portafolio__cards .card__brand .brand__plan h4 {
  font-size: 1.8rem;
  font-weight: 700;
}
.portafolio__cards .card__brand .brand__plan p {
  font-size: 1.2rem;
  font-weight: 700;
}
.portafolio a {
  position: relative;
  z-index: 20;
  color: #FFFFFF;
  margin-bottom: 80px;
  padding: 1.2rem 2.3rem;
  font-weight: 400;
  font-size: 1.8rem;
  text-decoration: none;
  border: 0.2rem solid #FFFFFF;
  border-radius: 0.9rem;
}






/* ---- MEDIAQUERIES (SIEMPRE AL FINAL) ---- */
  /* -- TABLET - 744PX -- */
@media screen and (min-width: 744px) {

  /* ---- SECCIÓN "EL DESPEGUE ES AHORA" (JESÚS) ---- */
  .main_container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 500px;
  }

  .main_title {
    grid-column: 1;
    grid-row: 1;
    margin-top: 220px;
    margin-bottom: 20px;
  }

  .parrafo_buscabas {
    margin-top: 0px;
    margin:auto;
  }

  .buscabas {
    width: 209px;
    text-align: center;
  }

  .img_cohete {
    grid-row: 1/4;
  }

  .buttons {
    margin-top: 20px;
    grid-column: 1;
    grid-row: 3;
  }

  .cohete {
    margin-top: 175px;
    width:390px;
  }


  /* ---- SECCIÓN "PORTAFOLIO" (ELISEO) ---- */
  /* ... */
}



  /* --- DESKTOP - 1100PX--- */
@media screen and (min-width: 1100px){

  /* ---- SECCIÓN "EL DESPEGUE ES AHORA" (JESÚS) ---- */
  .main_container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: start;
    justify-self: center;
  }

  .cohete {
    margin-top: 40px;
    padding: auto;
    margin-bottom: 30px;
    width:310px;
    align-self: end;
    justify-self: end;
  }

  .title {
    font-size: 48px;
  }

  .main_title {
    grid-column: 1;
    padding:  auto;
    grid-row: 1;
    margin-top: 60px;
    margin-bottom: 0px;
    justify-self:end ;
  }

  .buttons {
    margin-top: 20px;
    margin-bottom: 180px;
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    margin-right: 63px;
  }

  .botones:hover {
    background-image: url('../assets/img/hoverbuttons.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parrafo_buscabas {
    margin:0 0;
    justify-self: end;
    margin-right: 54px;
  }

  .botondesktop{
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    border-radius: 9px;
    width: 195px;
    height: 50px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    cursor: pointer;
    margin: 0 20px;
  }

  .botondesktop:hover {
    background-image: url('../assets/img/hoverbuttons.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* NAV */
  .nav_logo {
    display: none;
  }
  
  .nav_logoweb{
    position: relative;
    display: block;
    width :148px;
    height :45px;
    
  }

  .nav_logos_menu{
    margin: 0px 10px;
    padding-top: 10px;
    display: inline;
  }

  .servicios_show{
    display: none;
  }

  .nav_close{
    display: none;
  }

  .contacto{
    display: none;
  }
  .nav_link {
    position: absolute;
    background: rgba(69, 92, 185, 0.6);
    flex-direction: row;
    justify-content: center;
    opacity: 100;
    pointer-events: fill;
  }

  .nav_logos{
    display: none;
  }
  .nav_items {
    width: auto;
    padding: 0;
    font-weight: 500;
    font-size: 25px;
    list-style: none;
  }

  .nav_links{
    margin: 0px 20px;
  }


  /* ---- SECCIÓN "PORTAFOLIO" (ELISEO) ---- */
  /* .......... */
}